<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="resources/css/contact.css">
        <link rel="stylesheet" type="text/css" href="resources/css/navbar.css">
        <title>Contact Us</title>
    </head>
    <body>
        <nav>
            <ul class="nav-bar-list">

                
                <% if(login){ %>
                    <li><a href="/dashboard">Dashboard</a></li>   
                <% }else{ %>
                    <li><a href="/login">Log In</a></li>   
                <% } %>
                
                <li class="active"><a href="/contact">Contact</a></li>   
                <li><a href="/about">About</a></li>   
                <li><a href="/">Home</a></li>   
            </ul>
            <img src="resources/images/Logo.png" id="logo-img">
        </nav>  
            <form class="contact-form-box">
                <div class="contact-header">
                    Contacto
                </div>
                <div>
                <label for="username">Nombre:</label>
                <input type="text" name="username">
                <label for="email">Correo:</label>
                <input type="text" name="email">
                <label for="message">Mensaje:</label>
                <textarea rows="2" name="message"></textarea>
                <input type="submit" value="Enviar">
                </div>
            </form>
    </body>
</html>