<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="resources/css/navbar.css">
    <link rel="stylesheet" href="resources/css/about.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <ul class="nav-bar-list">
            <li><a href="/dashboard">dashboard</a></li>
            <li><a href="/contact">Contact</a></li>   
            <li><a href="/about">About</a></li>   
            <li><a href="/">Home</a></li>   
        </ul>
        <img src="resources/images/Logo.png" id="logo-img">
    </nav>
    <div style="display: flex; justify-content: center; margin: 3%;">
        <div class="titulodashboard">
            Bienvenido <%= name %>
        </div>
    </div>
    <img src="resources/images/dashboard.png" style="width: 100%;">
</body>
</html>