
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{font-family: 'Nunito', sans-serif;}

body{
    background-color: #E2E2E2;
}

  
.contact-form-box{
      width: 404px;
      position: absolute;
      transform: translate(-50%,-50%);
      background-color: #FFFFFF;
      text-align: left;
      left: 50%;
      top: 50%;
      box-shadow: 10px 10px 5px grey;
  }

  .contact-form-box input{
      display: block;
      margin: 15px auto;
      width: 80%;
  }

  .contact-form-box label, textarea{
    
    display: block;
    margin: 0px auto;
    text-align: left;
    width: 80%;
    font-size: 18pt;
}


.contact-form-box textarea{
    /*font-family: 'Nunito', sans-serif;*/
    font-size: 12pt;
    resize: none;
}

.contact-form-box input[type="submit"]{
    width: 20%;
}

.contact-header{
    padding: 10px;
    color: white;
    background-color: #016AE8;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 15px;
    
}

